:root {
    --fuenteheading: 'PT Sans', sans-serif;
    --fuenteparrafo: 'Open Sans', sans-serif;
    --primario: #00bfd8;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --rojo: #ff0000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteparrafo);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteheading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-pading {
    padding: 0;
}

.centrartexto {
    text-align: center;
}

/* Header */
/*.webp .header {
    background-image: url('../img/Banner.webp');
}

.no-webp .header {
    background-image: url('../img/banner.jpg');
}
*/
.singup{
    font-weight: 700;
}

.singup:hover{
    background-color: var(--primario);
    color: var(--negro);
    padding 1rem 3rem;
}

.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

.barra {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    color: var(--blanco);
    font-size: 1.8rem;
    text-align: center;
}

/* Contenido */
@media (min-width: 768px) {
    .cont-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

    .entrada:last-of-type {
        border: none;
        margin-bottom: 0;
    }

.boton {
    display: block;
    font-family: var(--fuenteheading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

/* Sidebar */
.news {
    list-style: none;
}

.widget-news {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-news:last-of-type {
        border: none;
        margin-bottom: 0;
}

.widget-news__label, .curso__label {
    font-family: var(--fuenteheading);
    font-weight: 700;
}

.widget-news__info, .curso__info {
    font-weight: 400;
}

.widget-news__info, .widget-news__label,
.curso__news, .news__info {
    font-size: 2rem;
}

/* Footer */
.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 3rem;
}

/* Sobre nosotros */
@media (min-width: 768px) {
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }

    .sobre-nosotros__img, .sobre-nosotros__texto {
        flex-basis: calc(50% - 1rem);
    }
}

/* Contacto */
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea {
    height: 20rem;
}

/*login*/
.login-bg {
    background-image: url(../img/login.jpg);
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.campo__buton {
    padding: 0.3rem 3rem;
    display: inline-block;
    margin-left: 1rem;
}

.campo__label--login {
    flex: 0 0 9rem;
    text-align: right;
}

.campo__labelSU {
    text-align: right;
    font-size: 1rem;
}

.campo__labelSU--registro{
    color: var(--negro);
}

.campo__labelSU--error{
    color: var(--rojo);
}

.campo__field--login {
    flex: 1;
    border: 1px solid var(--gris);
    margin-left: 1rem;
}